.logo {
  position: absolute;
  left:0;
  right:0;
  margin-top: -370px;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
}

.brand-image {
  height: 200px;
}

.brand-title {
  font-family: 'Dancing Script', cursive;
  color: white;
  font-size: 4em;
}

.welcome {
  position: relative;
  margin: 100px auto 30px auto;
  max-width: 1024px;
  font-size: 2.5em;
  text-align: center;
  color: white;
}

.meetings-made {
  position: absolute;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 120px;
}

.meetings-made .statistic {
  padding-top: 24px;
}

.people-home {
  margin-top: 200px;
}

.people-home .load-more-button {
  margin: 30px auto;
  display: block;
}

.searchbar {
  position: relative;
  background: #0009;
  margin: 15px auto;
  width: 70%;
  white-space: nowrap;
  border-radius: 5px;
}

i {
  vertical-align: middle;
}

.searchbar i {
  color: #fffb;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: -5px;
  margin-left: -5px;
}

.searchbox {
  position: relative;
  color: #fffb;
}

.searchbox input {
  width: 92%;
}

.people-home .person {
  width: 300px;
}

.people-home .person .profilepic {
  margin-top: -10px;
  height: 280px;
  object-fit: cover;
}

.people-home .person .button {
  width: 30px;
}

.people-home .person .contact-button {
  margin-top: 10px;
}

span.like {
    padding: 1px 5px;
    border-radius: 5px;
    background-color: inherit;
    border: #50b3eb;
    margin: 1.5px;
    display: inline-block;
    color: white;
}

.recaptcha-box {
  margin: 20px 0 20px 0;
}

a, a:hover{
  color: white;
}

.at-form a, .at-form a:hover {
  color:  rgb(30, 136, 229);;
}

.ui .modal img{
}
