.nav-wrapper {
  position: sticky;
}

nav a:hover {
  color: white;
  text-decoration: none;
}

nav a:active {
  color: white;
  text-decoration: none;
}

nav a:visited {
  color: white;
  text-decoration: none;
}

.logo-image {
  width: 50px;
  height: 50px;
  margin-bottom: -15px;
}

.logo-title {
  font-family: 'Dancing Script', cursive;
  white-space: nowrap;
}

.browse-image {
  width: 34px;
  height: 34px;
  margin-bottom: -4px;
}

.login {
  margin: 50px auto 0 auto;
  width: 400px;
}

.verify {
  margin-top: 50px;
}

.verify .image {
  margin-top: 100px;
  margin: auto;
  size: 300px;
}
